<div class="all" *ngIf="order!=null">
    <div class="container">
        <div class="item">Train Name:{{train.trainName}}</div>
        <div class="item">Category :{{order.category}}</div>
        <div class="item">Travel Date:{{order.travelDate.split("T")[0]}}</div>
        <div class="item">Total Fare:{{order.totalFare}}</div>
        <div class="item">From :{{order.sourcePlace}}</div>
        <div class="item">To :{{order.destinationPlace}}</div>
    </div>
    
    
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Status</th>
            <th>Seat No</th>
        </tr>
        <tr  *ngFor="let p of order.passengerDetails">
            <td>{{p.passengerName}}</td>
            <td>{{p.seatStatus}}</td>
            <td>{{p.seatNo}}</td>
        </tr>
    </table>

    <button (click)="goBack()" class="Btn">Go Back</button>
</div>

<div class="not-found" *ngIf="order==null" >

    <p>Sorry No Data Available For Given PNR :(</p>
    <img src="../../../assets/err_img.png" alt="No Data Found"><br/>
    <div>
    <button (click)="goBack()"  class="Btn">Go Back</button></div>
    </div>