<div class="top-nav container" *ngIf="order!=null">
  <div class="top"><span> Train Name :{{train.trainName}} <br/>
     Category :{{order.category}}</span>
    <span>{{order.travelDate.split("T")[0]}} <br/>
{{order.totalFare}}
    </span></div>  

    <div class="places">
      From :  {{order.sourcePlace}}
       To : {{order.destinationPlace}}
    </div>
    <span>Passenger Details</span>
    <table class="passenger-values">
        <tr>
            <th>Name</th>
            <th>Status</th>
            <th>Seat No</th>
        </tr>
        <tr  *ngFor="let p of order.passengerDetails">
            <td>{{p.passengerName}}</td>
            <td>{{p.seatStatus}}</td>
            <td>{{p.seatNo}}</td>
        </tr>
    </table>

    <button (click)="goBack()" class="Btn">Go Back</button>
</div>

<div class="not-found" *ngIf="order==null" >

    <p>Sorry No Data Available For Given PNR :(</p>
    <img src="../../../assets/err_img.png" alt="No Data Found"><br/>
    <div>
    <button (click)="goBack()"  class="Btn">Go Back</button></div>
    </div>