<div class="main">
    <div class="left-container">
        <div class="logo">
            <h1><b>TRAVELLY</b></h1>
        </div> 
    <div class="left-content">
        <h2>Uh Oh...</h2>
        <p>The page you are looking for is not here</p>
        <p>Please try again...</p>
        <button class="filled" (click)="goToLogin()">
            Home
        </button>
    </div>
    
    </div>
    <div class="right-container">
    
            <img src="../../assets/404Page.png" alt="Error Image">
    </div>
    
    
    </div>