.top{
    display: flex;
    justify-content: space-between;
    margin: 1.2rem;    
    
}
.profile{
    color: white;
    cursor: pointer;
}
.userIcon button{
    background-color: white;
    padding: 0.5rem 0.8rem;
    border: none;
    border-radius: 2rem;
    margin-left: 0.7rem;
    cursor: pointer;
}