.all {
    margin:0;
    padding:0;
    box-sizing:border-box ;
    background:#F9F9FA;;
    max-width:100vw;
    height:100vh;
}
.container{
    margin-top: 5px ;
    display:flex;
    align-items: center;
    justify-content: center;
    max-width:100vw;
    height:27vh;
    padding: 10px;
    background: linear-gradient(to left, #12c2e9,#c471ed,#f64f59);
}
.choice{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 30vh;
    height: 70px;
    width: 75%;
    padding: 10px;
    background-color: #fff;
    cursor:pointer;
    border-radius: 10px;
    box-shadow: 0 1px 1rem rgba(0, 0, 0, .1);  
    font-size: 25px;
}
.view{
    margin: 2rem;
    overflow: overlay;
    height: 70vh;  
}

.top{
    display: flex;
    justify-content: space-between;
    margin: 1.2rem;    
    
}

.userIcon button{
    background-color: white;
    padding: 0.5rem 0.8rem;
    border: none;
    border-radius: 2rem;
    margin-left: 0.7rem;
    cursor: pointer;
}
