
    <div class="content">
    <div class="main">
        <span class="border">
            <input type="radio" class="form-check-input" [defaultChecked]="true" (change)="change($event)" name="option" id="booking" value="booking" >
            <h3>BOOK TRAIN TICKET</h3>
           
        </span>
        <span class="border">
            <input type="radio" class="form-check-input" name="option" (change)="change($event)" id="pnr" value="pnr" >
            <h3>CHECK PNR STATUS</h3>
        </span>



    </div>


    <div *ngIf="flag" class="book outer">
    <label for="from">FROM : </label>
        <select name="from" class="input"  [(ngModel)]="fromOption" (change)="sourceChange($event)">
            
            <option *ngFor="let src of source; let i = index"  [value]="src" >
                {{src}}
            </option>
            
        </select>    
            <span class="right"></span>
            <label for="To">TO : </label>
            <select name="To" class="input" [(ngModel)]="toOption" placeholder="TO"  >
                <option *ngFor="let destination of destinations" [value]="destination">
                    {{destination}}
                </option>
                
            </select>
        <input type="date" class="input" placeholder="DATE" [(ngModel)]="dateOption" (change)="dateChange($event)">
    </div>
    <div class="pnr" *ngIf="!flag">
        <input type="number" class="text-input" [(ngModel)]="pnr">
    </div>
   
    <button class="filled" (click)="search()">Search</button>
    <h2 *ngIf="err">Please Fill </h2>
</div>


<img src="../../assets/dash_img.png">

    
    
