<div class="top">
    <div class="logo">
        <h1><b>TRAVELLY</b></h1>
    </div>
    
    <button (click)="logout()">Logout</button>
    <button (click)="error()">Error</button>
    <button (click)="regTrain()">Register Train</button>
    <div class="userIcon">
        <h1><span class="material-symbols-outlined">
            account_circle
            </span></h1>
    </div>
    
    </div>
    

    <div class="content">
    <div class="main">
        <span class="border">
            <input type="radio" [defaultChecked]="true" (change)="change($event)" name="option" id="booking" value="booking" >
            <h3>BOOK TRAIN TICKET</h3>
           
        </span>
        <span class="border">
            <input type="radio" name="option" (change)="change($event)" id="pnr" value="pnr" >
            <h3>CHECK PNR STATUS</h3>
        </span>



    </div>


    <div class="book outer">
    
        <select name="from" class="input" placeholder="FROM">
            
        </select>    
            <span class="right"></span>
        <input type="text" class="input "  placeholder="TO"><span class="right"></span>
        <input type="date" class="input" placeholder="DATE">
    </div>
    <div class="pnr">

    </div>
   
    <button class="filled">Search</button>
</div>


<img src="../../assets/dash_img.png">

    
    