
<div class="container">


    <div class="left-container">   
     <div class="logo">
    <h1><b>TRAVELLY</b></h1>
    </div>   
    
    
    <div class="left-content">
    
    <h2>Welcome User</h2>
    
    
    <img src="../../assets/g8.png" alt="pic">
    </div>
    </div>
    
    
    <div class="right-container">
    
    <div class="top-btn">
        <button class="outer" (click)="goToLogin()">
            LOGIN
        </button>
    
        <button class="filled">
            REGISTER
        </button>
    </div>
    
     
    
    <form #loginform = "ngForm" (ngSubmit)="register(loginform)">
    <div class="form-group">
        
     <div> 
     <input type="text" class="input form-control" name="username" placeholder="Enter Username"  #name1="ngModel" pattern="^[a-zA-Z0-9_-]{5,15}$" required [(ngModel)]="username">
    </div>
    <div>
        <input type="text" class="input form-control" name="password" placeholder="Enter Password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).{6,12}$" required [(ngModel)]="password">
    </div>

    <div>
        <input type="text" class="input form-control" name="mobileNo" pattern="^[0-9]{10}$" placeholder="Enter your mobile no" required required [(ngModel)]="mobileNo">
    </div>
    <div>
        <input type="email" class="input form-control" name="email" placeholder="Enter your email" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,4}$" required required [(ngModel)]="email">
    </div>

    <input type="submit"  class="btn-primary" value="REGISTER">
    
    </div>
    </form>
    {{res}}
    
    </div>
    